<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>studentCalc2</display-name>
  <welcome-file-list>
    <welcome-file>Start</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/res/my404.jspx</location>
  </error-page>
  <error-page>
    <exception-type> java.lang.Exception </exception-type>
    <location>/res/myException.jspx</location>
  </error-page>
  <context-param>
    <param-name>appName</param-name>
    <param-value>OSAP Calculator</param-value>
  </context-param>
  <context-param>
    <param-name>principal</param-name>
    <param-value>1000</param-value>
  </context-param>
  <context-param>
    <param-name>period</param-name>
    <param-value>12</param-value>
  </context-param>
  <context-param>
    <param-name>interest</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>fixedInterest</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>gracePeriod</param-name>
    <param-value>6</param-value>
  </context-param>
  <context-param>
    <param-name>legend</param-name>
    <param-value>Student Loan Application</param-value>
  </context-param>
</web-app>